.flex-container {
    display: flex;
    justify-content: space-between;
}

.m-10 {
    margin: 10px;
}

.flex-end {
    justify-content: flex-end;
    // align-items: center;
}

form {
    padding: 10px;
}

.full-width {
    width: 100%;
}

.small-input {
    width: 40%;
}

.order {
    position: relative;
    border: 1px solid #00000050;
    border-radius: 10px;
    padding: 5px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.num {
    position: absolute;
    top: 0;
}

.orderboard {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.total-output {
    display: inline;
}

.add-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    i {
        font-size: 64px;
        cursor: pointer;
        font-size: 30px;
        color: green;
    }
}

mat-button-toggle-group.mat-button-toggle-group {
    top: 0;
    position: absolute;
    right: 30px;
}

.hidden {
    position: absolute;
    left: -1000;
    z-index: -99;
}

i.fa-sharp.fa-solid.fa-bars {
    font-size: 24px;
}

.overview {
    i.fa-square-xmark {
        position: fixed;
        left: 20px;
        font-size: 24px;
        top: 10px;
        color: red;
    }


    background-color: azure;
    padding: 10px;
    // padding-top: 40px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    height: 100vh;
    overflow: auto;

    &.hide {
        display: none;
    }

    .orders-list {
        padding: 0 20px;
        margin-top: 30px;
        max-height: calc(100vh - 50px);
        overflow: auto;
    }

    .options {
        position: absolute;
        right: 20px;

        i {
            margin-left: 10px;
            font-size: 30px;
            cursor: pointer;

            &.fa-circle-check {
                color: green;
            }

            &.fa-ban {
                color: red;
            }
        }
    }
}