<form [formGroup]="reactiveForm">
    <i class="fa-sharp fa-solid fa-bars" (click)="toggleOverview = !toggleOverview; getOrders()"></i>
    <h1>Bestellung<span *ngIf="orderId > 0"> #{{orderId}} bearbeiten</span>: </h1>
    <div class="flex-container">
        <mat-form-field class="small-input" appearance="fill">
            <mat-label>Tisch</mat-label>
            <mat-select formControlName="table">
                <mat-option *ngFor=" let table of tables; let a=index" [value]="a+1" (click)="setTable(a+1)">
                    {{a+1}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="small-input" appearance="fill">
            <mat-label>Dein Name</mat-label>
            <input matInput type="text" formControlName="username" (keyup)="setUsername($event)" class="form-control">
            <mat-icon matSuffix><i class="fa-solid fa-user"></i></mat-icon>
        </mat-form-field>
    </div>
    <div formArrayName="articles" class="orderboard">
        <div class="order" *ngFor="let article of getArticles().controls; let i=index" [formGroupName]="i">
            <div class="num">#{{i + 1}}</div>
            <div class="flex-container">
                <mat-form-field class="small-input" appearance="fill">
                    <mat-label>Menge</mat-label>
                    <mat-select formControlName="quantity">
                        <mat-option *ngFor=" let select of select; let a=index" [value]="a"
                            (click)="setTotal(i,+article.value.price * a)">
                            {{a}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="small-input" appearance="fill">
                    <mat-label>Einzelpreis</mat-label>
                    <mat-select formControlName="price">
                        <mat-option *ngFor=" let select of select; let a=index" [value]="a * 0.50"
                            (click)="setTotal(i,+article.value.price * a)">
                            {{ a * 0.50 | currency:' CHF' | space}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex-container flex-end">
                    <i (click)="removeQuantity(i)" class="fa-solid fa-xmark"
                        style="cursor: pointer; color: #9d9d9d; font-size: 30px;margin-right: 20px;"></i>
                </div>
            </div>
            <div>
                <mat-checkbox formControlName="lactoseFree">Laktosefrei</mat-checkbox>
                <mat-checkbox formControlName="coupon">Coupon</mat-checkbox>
                <mat-checkbox formControlName="extraCream">Mit Sahne</mat-checkbox>
                <mat-checkbox formControlName="togo">To Go (Nur für Kaffee)</mat-checkbox>
            </div>
            <div>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Essware/Getränk/Dienst:</mat-label>
                    <input matInput type="text" formControlName="name" class="form-control" [matAutocomplete]="auto">
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option.name">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>
    <div class="add-btn">
        <i class="fa-solid fa-square-plus" (click)="addQuantity()"></i>
    </div>
    <div>
        <h3 class="total-output">Total: {{ getTotalPrice() | currency:'CHF' | space}}</h3>
        <button style="float: right;" type="submit" class="btn btn-success" mat-raised-button
            [disabled]="(getTotalQuantity() === 0 ) || textIsEmpty() || reactiveForm.value.table > 0"
            (click)="onSubmit()">{{orderId > 0
            ?'Anpassung speichern':'Bestellung aufgeben'}}</button>
    </div>
</form>
<div class="overview" [ngClass]="{'hide': !toggleOverview}">
    <mat-slide-toggle style="margin-left: 40px;" (toggleChange)="toggleMe = !toggleMe">My</mat-slide-toggle>
    <i class="fa-sharp fa-solid fa-square-xmark" (click)="toggleOverview = !toggleOverview;"></i>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" value="current">
        <mat-button-toggle value="current" (change)="getOrders()">Aktuell</mat-button-toggle>
        <mat-button-toggle value="finished" (change)="getOldOrders()">Bisher</mat-button-toggle>
        <mat-button-toggle value="canceled" (change)="getCanceledOrders()">Storniert</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="orders-list">
        <p style="text-align:center;margin-top:20px;"><i class="fa-solid fa-mill-sign"></i>=Laktosefrei <i
                class="fa-solid fa-ticket"></i>=Coupon <i class="fa-solid fa-poop"></i>=Sahne <i
                class="fa-solid fa-person-running"></i>=To Go</p>
        <ng-container *ngFor="let order of orders; let i=index">
            <div class="order" *ngIf="(toggleMe && getUsernameTyped() === order.json.username)">
                <!-- <div class="order" [ngClass]="{'hidden':toggleMe && reactiveForm.value.username !== order.json.name}"> -->
                <h2 style="display: inline;">Bestellung #{{order.id}}</h2>
                <h3>Von: {{order.json.username}}</h3>
                <strong>Tisch: {{ order.json.table === 'undefined'? 0 : order.json.table}}</strong>
                <span class="label"
                    [ngClass]="{'bg-red': getDurationInt(order.created) > 15 }">{{getDurationInt(order.created) < 60 ?
                        getDuration(order.created) : '>59min' }}</span>
                        <div class="options">
                            <i class="fa-solid fa-gear" [matMenuTriggerFor]="setting"></i>
                            <mat-menu #setting="matMenu">
                                <button mat-menu-item (click)="editOrder(order.id, order.json)">Bearbeiten</button>
                                <button mat-menu-item (click)="reuseOrder(order.json)">Erneut verwenden</button>
                                <button mat-menu-item (click)="terminateOrder(order.id)">Bestellung abhacken</button>
                                <button mat-menu-item (click)="cancelOrder(order.id)">Stornieren</button>
                            </mat-menu>
                        </div>
                        <div *ngFor="let article of order.json.articles; let j=index">
                            <pre>{{article.quantity}} X {{article.name}}
({{article.price| currency:' CHF' | space}})( <i *ngIf="article.lactoseFree" class="fa-solid fa-mill-sign"></i> <i *ngIf="article.coupon" class="fa-solid fa-ticket"></i> <i *ngIf="article.extraCream" class="fa-solid fa-poop"></i> <i *ngIf="article.lactoseFree" class="fa-solid fa-person-running"></i>)</pre>
                            <p></p>
                        </div>

                        <p></p>
                        Total: {{getTotalPriceByArticles(order.json.articles)| currency:' CHF' | space}}
            </div>
            <div class="order" *ngIf="!toggleMe">
                <!-- <div class="order" [ngClass]="{'hidden':toggleMe && reactiveForm.value.username !== order.json.name}"> -->
                <h2 style="display: inline;">Bestellung #{{order.id}}</h2>
                <h3>Von: {{order.json.username}}</h3>
                <strong>Tisch: {{ order.json.table === 'undefined'? 0 : order.json.table}}</strong>
                <span class="label"
                    [ngClass]="{'bg-red': getDurationInt(order.created) > 15 }">{{getDurationInt(order.created) < 60 ?
                        getDuration(order.created) : '>59min' }}</span>
                        <div class="options">
                            <i class="fa-solid fa-gear" [matMenuTriggerFor]="setting"></i>
                            <mat-menu #setting="matMenu">
                                <button mat-menu-item (click)="editOrder(order.id, order.json)">Bearbeiten</button>
                                <button mat-menu-item (click)="reuseOrder(order.json)">Erneut verwenden</button>
                                <button mat-menu-item (click)="terminateOrder(order.id)">Bestellung abhacken</button>
                                <button mat-menu-item (click)="cancelOrder(order.id)">Stornieren</button>
                            </mat-menu>
                        </div>
                        <div *ngFor="let article of order.json.articles; let j=index">
                            <pre>{{article.quantity}} X {{article.name}}
({{article.price| currency:' CHF' | space}})( <i *ngIf="article.lactoseFree" class="fa-solid fa-mill-sign"></i> <i *ngIf="article.coupon" class="fa-solid fa-ticket"></i> <i *ngIf="article.extraCream" class="fa-solid fa-poop"></i> <i *ngIf="article.lactoseFree" class="fa-solid fa-person-running"></i>)</pre>
                            <p></p>
                        </div>

                        <p></p>
                        Total: {{getTotalPriceByArticles(order.json.articles)| currency:' CHF' | space}}
            </div>
        </ng-container>
    </div>
</div>